.row-buffer {
    margin-top: 20px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 50px; /* bottom = footer height */
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
}
