<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Auto-Summary</title>

  </head>

  <body>

    <div class='container'>

      <div class="page-header">
        <h2>Auto-Summary <small>A simple summarisation tool</small></h2>
      </div>
    </div>

    <div class='container'>
      <form action='' method='post'>
        <div class='form-group'>
            <textarea class="form-control" rows="3" placeholder='Paste some text here' name='raw'></textarea>
        </div>
        <div class='form-group'>
          <!-- <div class='input-group'>
            <span class='input-group-addon'>Url</span> -->
            <input type='text' class='form-control' placeholder='Or paste a url here' name='url'>
          <!-- </div> -->
        </div>
        <div class='form-group text-center'>
          <button type='submit' class='btn btn-default'>Summarize</button>
        </div>
      </form>
    </div>

    {% if warning == 'True' %}
      <div class='container'>
        <div class='row row-buffer'>
          <div class='col-lg-6'>
            <div class="alert alert-danger" role="alert"><strong>Oops!</strong> Looks like you forgot the input</div>
          </div>
        </div>
      </div>
    {% endif %}

    <div class='container'>
      <div class='row row-buffer'>
        <div class='col-lg-6'>
          <div class='panel panel-default'>
            <div class='panel-body'>
              {% if content %}
                {% for p in content %}
                  <p>{{p}}</p>
                {% endfor %}
              {% else %}
                <p></p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>

</html>
