<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Auto-Summary</title>

  </head>

  <body>
    <div class='container'>
      <div class="page-header">
        <h2>Auto-Summary <small>A simple summarisation tool</small></h2>
      </div>

      <div class='row row-buffer'>
        <form action='' method='post'>
          <div class='form-group'>
              <textarea class="form-control" rows="9" placeholder='Paste some text here' name='raw'></textarea>
          </div>
          <div class='form-group'>
            <input type='text' class='form-control' placeholder='Or paste a url here' name='url'>
          </div>
          <div class='form-group text-center'>
            <button type='submit' class='btn btn-default'>Summarize</button>
            <a href="{{ url_for('index') }}" class='btn btn-default' role='button'>Reset</a>
          </div>
        </form>
      </div>

      {% if warning == 'True' %}
          <div class='row row-buffer'>
            <div class='col-lg-5'>
              <div class="alert alert-danger" role="alert"><strong>Oops!</strong> Looks like you forgot the input</div>
            </div>
          </div>
      {% endif %}

      {% if content %}
      <div class='row row-buffer'>
        <div class='col-lg-5'>
          <div class='panel panel-default'>
            <div class='panel-body'>

                {% for p in content %}
                  <p>{{p}}</p>
                {% endfor %}
              {% else %}
                <p></p>

            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    <footer>
      <div class='container'>
        <p class='help-block text-center'>This is a working draft. See the code <a href='https://github.com/sereprz/autosummary'>here</a></p>
      </div>
    </footer>
  </body>

</html>
