  <!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
    <script src="https://use.fontawesome.com/9912f1d462.js"></script>
    <script type="text/javascript">
      function showValue(newValue) {
        document.getElementById('perc').innerHTML=newValue; }
    </script>
    <title>Auto-Summary</title>

  </head>

  <body>
    <div class='container'>
      <div class="page-header">
        <h2>autosummary <br class='visible-xs'><small>Document summarization by key sentence extraction</small></h2>
      </div>

      <div class='row row-buffer'>
        <div class='col-lg-12'>
          <form action='' method='post'>
          <div class='form-group'>
              <p>Type or paste some text here:</p>
              <textarea class="form-control" rows="8" placeholder='Since the first publication of Alice’s Adventures in Wonderland 150 years ago, Lewis Carroll’s playful and puzzling work has spawned a whole industry, from films and theme park rides to products such as...' name='raw'></textarea>
          </div>
          <div class='form-group'>
            <p>Or fetch it from a URL:</p>
            <input type='text' class='form-control' placeholder='https://www.theguardian.com/books/2015/mar/20/lewis-carroll-alice-in-wonderland-adventures-150-years' name='url'>
          </div>
          <div class='form-group'>
            <p>Set the percentage of text to keep in the summary: <span id='perc'>20</span>%</p>
            <input type='range' min='5', max='100' value='20' step='5' class='form-control' name='slider' onchange="showValue(this.value)">
          </div>
          <div class='form-group text-center'>
            <button type='submit' class='btn btn-default'>Summarize</button>
            <a href="{{ url_for('index') }}" class='btn btn-default' role='button'>Reset</a>
          </div>
        </form>
      </div>
      </div>

      {% if warning %}
          <div class='row row-buffer'>
            <div class='col-lg-12'>
              <div class="alert alert-danger" role="alert">{{warning}}</div>
            </div>
          </div>
      {% endif %}

      {% if content %}
      <div class='row row-buffer'>
        <div class='col-lg-12'>
          <div class='panel panel-default'>
            <div class='panel-body'>
                {% for p in content %}
                  <p>{{p}}</p>
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% else %}
        <p></p>
      {% endif %}
    </div>
    <footer>
      <div class='container'>
        <p class='help-block text-center'>This page is a work in progress. Please get in touch if you have any feedback.</p>
        <ul class='fa-ul list-inline text-center'>
          <li><a href="https://github.com/sereprz"><i class="fa fa-github fa-lg"></i></a></li>
          <li><a href="https://www.linkedin.com/in/speruzzo"><i class="fa fa-linkedin fa-lg"></i></a></li>
          <li><a href="https://twitter.com/sereprz"><i class="fa fa-twitter fa-lg"></i></a><li>
          <li><a href="mailto:serena.peruzzo@gmail.com"><i class="fa fa-envelope fa-lg"></i></a><li>
        </ul>
      </div>
    </footer>
  </body>

</html>
